Add DefaultContentType to OpenApiReaderSettings

**Is your feature request related to a problem? Please describe.**
You recently changes the default content type from 'application/json' to 'application/octet-stream' when it is not specified in the swagger/openapi file.

**Describe the solution you'd like**
Allow the external user to set the default content type he'd like to use.

**Describe alternatives you've considered**
I haven't found any alternative.

**Additional context**
RFC 9110, section 8.3 says (MAY is the important part)

> A sender that generates a message containing content SHOULD generate a Content-Type header field in that message unless the intended media type of the enclosed representation is unknown to the sender. If a Content-Type header field is not present, the recipient **MAY** either assume a media type of "application/octet-stream" ([[RFC2046](https://www.rfc-editor.org/rfc/rfc9110.html#RFC2046)], [Section 4.5.1](https://www.rfc-editor.org/rfc/rfc2046#section-4.5.1)) or examine the data to determine its type.


I think we should be able to add this as a property on OpenApiReaderSettings.  

@LucGenetier   Our devs are deep in the 3.1 implementation, would you mind sending a PR to add this property to the OpenAPIReadersettings and we will get a release out?

@darrelmiller I just looked at the code and don't see how I could access OpenAPIReadersettings where we need to access it.
In ParseOperationWithEmptyProducesArraySetsResponseSchemaIfExists test, OpenApiReaderSettings is never used/its constructor never called (if I create one)




> @darrelmiller I just looked at the code and don't see how I could access OpenAPIReadersettings where we need to access it. In ParseOperationWithEmptyProducesArraySetsResponseSchemaIfExists test, OpenApiReaderSettings is never used/its constructor never called (if I create one)

As per the code snippet you shared in the original issue:
``` C#
string swaggerFile = @"https://raw.githubusercontent.com/microsoft/Power-Fx/main/src/tests/Microsoft.PowerFx.Connectors.Tests/Swagger/AzureBlobStorage.json";
using HttpClient client = new HttpClient();
HttpResponseMessage webResponse = await client.GetAsync(swaggerFile).ConfigureAwait(false);
string swagger = await webResponse.Content.ReadAsStringAsync().ConfigureAwait(false);	
OpenApiDocument doc = new OpenApiStringReader().Read(swagger, out OpenApiDiagnostic diag);
OpenApiOperation op = doc.Paths["/{connectionId}/datasets/default/GetFileContentByPath"].Operations[OperationType.Get];
OpenApiResponse response = op.Responses["200"];	
```
You can pass the new `DefaultContentType` setting as part of the `OpenApiReaderSettings` when initializing the `OpenApiStringReader` like so:

```C#
OpenApiDocument doc = new OpenApiStringReader(new OpenApiReaderSettings { DefaultContentType = "application/json"}).Read(swagger, out OpenApiDiagnostic diag);
```