$ref URI's are not escaped

**Describe the bug**

If type name contains a character that should be escaped, generated swagger json contains unescaped URI which causes swagger-client to fail resolving the reference.

**To Reproduce**
Create a `OpenApiReference` with `Id` that contains a `+` character (e.g. `MyClass+MyNestedClass`). Real-world scenario here is using `Type.FullName` on nested class, which uses `+` to concatenate the nested class name to base class name.  Then try to use generated schema. 

`swagger-client` then should fail to resolve JSON pointer, because it tries to [unescape all URI tokens](https://github.com/swagger-api/swagger-js/blob/07e3bc90f42dfdd636c174f9b17e689d8fc2daae/src/specmap/lib/refs.js#L430) and will try to search for `MyClass MyNestedClass` instead of `MyClass+MyNestedClass`.

**Expected behavior**

`$ref` URI's are escaped when serializing.

**Additional context**

As seen at https://swagger.io/docs/specification/using-ref/ , 
> The value of $ref uses the [JSON Reference](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03) notation, and the portion starting with # uses the [JSON Pointer](https://tools.ietf.org/html/rfc6901) notation

`JSON Pointer` [RFC](https://www.rfc-editor.org/rfc/rfc6901#section-6) says that 

> A JSON Pointer can be represented in a URI fragment identifier by
>   encoding it into octets using UTF-8 [[RFC3629](https://www.rfc-editor.org/rfc/rfc3629)], while percent-encoding
>   those characters not allowed by the fragment rule in [[RFC3986](https://www.rfc-editor.org/rfc/rfc3986)].

it also says that it [can be just a string](https://www.rfc-editor.org/rfc/rfc6901#section-5)

> A JSON Pointer can be represented in a JSON string value.  Per
>    [[RFC4627], Section 2.5](https://www.rfc-editor.org/rfc/rfc4627#section-2.5), all instances of quotation mark '"' (%x22),
>    reverse solidus '\' (%x5C), and control (%x00-1F) characters MUST be
>    escaped.

So ultimately, it's either `swagger-client` that works incorrectly or these refs should be actually escaped. But as it stands, `swagger-client` breaks if these characters are not escaped.

> All the fixed fields declared above are objects that MUST use keys that match the regular expression: ^[a-zA-Z0-9.-_]+$.

So going by that requirement, then it shouldn't allow components with `+`?

E.g.

```
...
"components": {
    "schemas": {
      "MyNamespace.MyClass+MySubClass":
...
```

But this does not seem to be enforced either.

@Hoffs This validation rule is supposed to be checking the component names with the regex https://github.com/microsoft/OpenAPI.NET/blob/75bb4ef3fb7029b99152b6fd05bb678eaef40d06/src/Microsoft.OpenApi/Validations/Rules/OpenApiComponentsRules.cs#L20 

I tested it and it does return an error in the diagnostics object.

![image](https://github.com/microsoft/OpenAPI.NET/assets/447694/70700293-14cc-4dc3-aa77-0f96c23d8238)


